<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.employeemanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".List2Activity"
            android:noHistory="true"></activity>
        <activity
            android:name=".ListActivity"
            android:noHistory="true" />
        <activity
            android:name=".SetValueActivity"
            android:noHistory="true" />
        <activity
            android:name=".TinhLuongActivity"
            android:noHistory="true" />
        <activity
            android:name=".DKLichLVActivity"
            android:noHistory="true" />
        <activity
            android:name=".TTinNVActivity"
            android:noHistory="true" />
        <activity
            android:name=".DSNVActivity"
            android:noHistory="true" />
        <activity
            android:name=".ThemNVActivity"
            android:noHistory="true" />
        <activity android:name=".MenuActivity" />
        <activity
            android:name=".DangNhapActivity"
            android:noHistory="true" />
        <activity
            android:name=".MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>